

<!-- two way binding -->
<!-- pvz zemiau -->
<input type="text" (input)="onUpdateServerStatus($event)">
<input type="text" [(ngModel)]="serverName">

<!-- parsing data with event binding pvz zemiau paduodam kaip argumenta $event  -->
<!-- !!! pasiskaityti apie $event placiau  -->
<!-- <input type="text" (input)="onUpdateServerStatus($event)" [(ngModel)]="serverName"> -->

<!-- galima event binding'e netik paduoti funkcija bet ir tiesiogiai rasyti koda pvz zemiau. -->
<!-- <button (click)="serverCreationStatus = 'server was created.'">Add server</button> -->
<button (click)="onCreateServer()">Add server</button>
<p>{{ serverName }}</p>
<p>{{ serverCreationStatus }}</p>